<h1>Hello World, Angular!!!</h1>
<div>
    <a href="#">Clique aqui</a>
</div>

<!-- IMPORTANDO O PRIMEIRO COMPONENTE DA APLICAÇÃO -->
<app-first-component></app-first-component>

<!-- [ng generate component components/parent-data] -->
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>

<!-- DIRETIVAS -->
<app-diretivas></app-diretivas>

<!-- Renderização condicional -->
<app-if-render></app-if-render>

<!-- Eventos -->
<app-eventos></app-eventos>

<!-- Emitindo eventos -->
<app-emiter></app-emiter>

<!-- Laço de Repetição -->
<app-repeticao-for></app-repeticao-for>

<!-- Pipe operators do Angular  -->
<app-pipes></app-pipes>

<!-- Two way data binding no Angular -->
<app-two-way-binding></app-two-way-binding>