div.options-class{
    opacity: .8;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    transition: $tran-02;
    cursor: pointer;
    background-color: #3c0e70;
    &:hover{
        opacity: 1;
    }
    p{
        font-weight: bold;
    }
}

div.options-container p{
    margin-bottom: 0;
}

div.options-class.correct{
    font-weight: bold;
    background-color: #0bfc03;
}

div.options-class.wrong{
    opacity: .4;
    background-color: #3c0e70;
}