/* Variables */
$purple-light: #8435de; 

/* Transition */
$tran-02: .2s ease-in-out;
$tran-03: .3s ease-in-out;
$tran-04: .4s ease-in-out;
$tran-05: .5s ease-in-out;

@mixin displayPattern{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin displayCustom($justify-content){
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}

@mixin displayCustom-2($flex-direction, $justify-content){
    display: flex;
    align-items: center;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}

@mixin screen1200px{
    @media screen and (min-width: 1200px){
        @content;
    }
}

@mixin screen1199px{
    @media screen and (max-width: 1199px){
        @content;
    }
}

@mixin screen999px{
    @media screen and (max-width: 999px){
        @content;
    }
}

@mixin screen770px{
    @media screen and (max-width: 770px){
        @content;
    }
}

@mixin screen480px{
    @media screen and (max-width: 480px){
        @content;
    }
}

@mixin screen414px{
    @media screen and (max-width: 414px){
        @content;
    }
}