<div class="class">
    <!-- Laço de repetição com lista -->
    <h2>Usuários</h2>
    <p *ngFor="let name of myList">
        O nome do usuário é: {{name}}
    </p>
    
    <!-- Laço de repetição com dicionário -->
    <h2>Animais</h2>
    <div *ngFor="let animal of animals">
        <p>
            Nome do pet: {{animal.name}}
        </p>
        <p>
            Tipo: {{animal.type}}
        </p>
    </div>

    <!-- Laço de repetição com dicionário -->
    <h2>Animais (interface)</h2>
    <div *ngFor="let animal of animalsInterface">
        <p>
            Nome do pet: {{animal.name}}
        </p>
        <p>
            Tipo: {{animal.type}}
        </p>
        <p>
            <button (click)="showAge(animal)">
                Show Age
            </button>
            
            <button (click)="removeAnimal(animal)">
                Excluir{{animal.name}}
            </button>
        </p>
    </div>
    <div>
        <p>
            <strong>{{animalsDetails}}</strong>
        </p>
    </div>
</div>